HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!apps/main/**/build/
!apps/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.env
.env.local
bin/
!apps/main/**/bin/
!apps/test/**/bin/

### IntelliJ IDEA ###
.idea
.atl
*.iws
*.iml
*.ipr
out/
!apps/main/**/out/
!apps/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### macOS ###
.DS_Store
